body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.hidden-window {
  display: none;
}
.second-page__container {
  max-width: 1020px;
  min-width: 280px;
  margin: auto;
}
.second-page__wrapper {
  position: relative;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background: url(../imagesSec/background-2.png), linear-gradient(0deg, #fbfefe 0%, #dff9ff 100%);
  
}
.second-page__wrapper:after {
  position: absolute;
  content: "";
  display: block;
  width: 50%;
  height: 830px;
}
.hidden-window {
  position: relative;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*HEADER*/

.second-page__header {
  margin-bottom: 30px;
}
.second-page__header .second-page__container {
  position: relative;
  z-index: 100;
}
.second-page__header-inner {
  position: relative;
  z-index: 20;
  padding: 20px 0 20px 0;
  background-color: #ffffff;
  background-image: url(../imagesSec/header_bg.jpg);
  background-repeat: no-repeat;
  margin-top: 35px;
}
.second-page__header .logo {
  position: relative;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #0656a0;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 80px;
  text-align: right;
  width: 63%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: bottom;
}
.second-page__header .logo:before {
  position: absolute;
  display: block;
  left: 45px;
  right: 0;
  top: -5px;
  width: 18px;
  height: 29px;
  margin: auto;
}
.second-page__header .stamp-list {
  font-size: 0;
  width: 31%;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}
.second-page__header .stamp-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.second-page__header .stamp-list li:last-child {
  margin-right: 0;
}
.second-page__header .logo span {
  color: #fa4863;
  font-weight: 400;
}
/*MAIN*/

.second-page__main {
  font-size: 0;
  text-align: center;
}
.second-page__main .second-page__main-left,
.second-page__main .second-page__main-right {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1000;
}
.second-page__main-left {
  width: 63%;
  margin-right: 4.2%;
}
.second-page__main-right {
  position: relative;
  width: 32.8%;
}
.second-page__main-left .inner-block {
  display: table;
  background: #ffffff;
  /*border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*-webkit-border-radius: 10px;*/
  padding-bottom: 25px;
  padding-top: 15px;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.inner-block-wrapper {
  position: relative;
  background: linear-gradient(0deg, #44cafb 35%, #8fea99 65%);;
  padding: 5px 5px 5px 5px;
  /*border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*-webkit-border-radius: 10px;*/
  transition: 0.5s;
}
@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  50% {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
  }
  
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  50% {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
  }
  
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  50% {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
  }
  
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes thumb {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  50% {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
  }
  
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.hidden-window .second-page__main-right .hidden-window-form.js_scrollForm.active {
  -webkit-animation: thumb 100ms linear 6;
  -moz-animation: thumb 100ms linear 6;
  -o-animation: thumb 100ms linear 6;
  animation: thumb 100ms linear 6;
}
.slider-list li:nth-child(3) .inner-block-wrapper .hidden-window__item__product-wrapper {
  margin-left: 65px;
}
.slider-list li:nth-child(4) .inner-block-wrapper .hidden-window__item__product-wrapper {
  margin-left: 20px;
}
.slider-list li:nth-child(4) .hidden-window__item__product-wrapper img:nth-child(3) {
  left: 65px;
}
.slider-list li:nth-child(5) .hidden-window__item__product-wrapper img:nth-child(1) {
  left: 23px;
  bottom: -5px;
}
.slider-list li:nth-child(5) .hidden-window__item__product-wrapper img:nth-child(2) {
  margin-left: -87px;
  z-index: 1;
}
.slider-list li:nth-child(5) .hidden-window__item__product-wrapper img:nth-child(3) {
  left: 150px;
}
.slider-list li:nth-child(5) .present-block__text {
  left: -26px;
}
.slider-list li:nth-child(5) .present-block__images img:nth-child(3) {
  left: -3px;
}
.slider-list li:nth-child(3) .hidden-window__item-img .present-block {
  left: 145px;
}
.slider-list li:nth-child(3) .present-block__images:before {
  left: -15px;
  top: 25px;
}
.slider-list li:nth-child(3) .present-block__text {
  left: -25px;
  bottom: -24px;
}
.slider-list li:nth-child(4) .hidden-window__item-img .present-block {
  left: 145px;
}
.slider-list li:nth-child(4) .present-block__text {
  left: -30px;
  bottom: -18px;
}
.slider-list li:nth-child(4) .present-block__images img:nth-child(3) {
  left: -7px;
  bottom: 9px;
  z-index: 1;
}
.hidden-window__item {
  display: table-cell;
  width: 40%;
  vertical-align: top;
  padding-top: 65px;
}
.slider-list li:nth-child(4) .present-block__images:before {
  left: -23px;
  margin: auto;
  top: 10px;
}
.h-w-text-total {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin: 20px 0;
  font-weight: 700;
}
.h-w-text-total span {
  color: #fe5600;
  font-size: 30px;
  font-weight: 700;
}
.second-page__main-left .bx-bx > li[data-value="3"].active .inner-block-wrapper,
.second-page__main-left .bx-bx > li[data-id="2"].active .inner-block-wrapper {
}
.second-page__main-left .bx-bx > li.active .inner-block-wrapper {
  width: 100%;
  background: #e59231;;
}
.inner-block__description {
  display: table-cell;
  width: 55%;
  vertical-align: top;
  padding-right: 25px;
  text-align: right;
}
.hidden-window .h-w-check {
  position: absolute;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  top: 50%;
  left: 25px;
  margin-top: -13px;
  -webkit-box-shadow: 0 0 0 4px #e59231, inset 4px 4px 4px 0px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0 0 4px #e59231, inset 4px 4px 4px 0px rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 0 4px #e59231, inset 4px 4px 4px 0px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  z-index: 1000;
}
.hidden-window .h-w-check:before {
  content: '';
  font-size: 20px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 26px;
  height: 26px;
  opacity: 0;
  background: url(../imagesSec/check.png) no-repeat center;
  background-size: 90%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.hidden-window .second-page__main .bx-bx > li.active .h-w-check:before {
  opacity: 1;
}
.hidden-window__item-img {
  position: relative;
  margin-right: 20px;
}
.hidden-window__item-sale {
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 14px;
  line-height: 20px;
  background: #45cafa;
  color: #ffffff;
  font-weight: 400;
  width: 135px;
  padding: 4px 0;
  padding-right: 10px;
  /*border-radius: 5px 0 0px 5px;*/
  height: 24px;
}
.hidden-window__item-sale:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 16px solid #45cafa;
  border-bottom: 16px solid transparent;
  right: -15px;
  top: 0;
}
.hidden-window__item__product-wrapper {
  margin-top: 20px;
}
.hidden-window__item__product-wrapper img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}
.hidden-window__item__product-wrapper img.one_package:nth-child(1) {
  height: 165px;
  margin-left: 60px;
}
.hidden-window__item__product-wrapper img:nth-child(1) {
  height: 150px;
  z-index: 20;
}
.hidden-window__item__product-wrapper img:nth-child(2) {
  height: 120px;
  margin-left: -35px;
  z-index: 15;
}
.hidden-window__item__product-wrapper img:nth-child(3) {
  height: 120px;
  position: absolute;
  left: 120px;
  bottom: 15px;
}
.hidden-window__item__product-wrapper img:nth-child(4) {
  position: absolute;
  height: 120px;
  bottom: 10px;
  right: 40px;
}
.hidden-window__item-img .present-block {
  position: absolute;
  left: 130px;
  top: 85px;
  z-index: 100;
}
.present-block__images {
  position: relative;
}
.present-block__images:before {
  position: absolute;
  display: block;
  content: "";
  background: #0656a0;
  left: -23px;
  margin: auto;
  top: 10px;
  z-index: 1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 5px solid #ffffff;
}
.present-block__images:after {
  position: absolute;
  display: block;
  content: "";
  background: url(../imagesSec/plus.png) no-repeat center;
  width: 18px;
  height: 18px;
  left: -25px;
  top: 50%;
  z-index: 30;
}
.present-block__images img {
  position: relative;
  max-height: 80px;
  z-index: 2;
  left: 4px;
}
.present-block__images img:nth-child(3) {
  position: absolute;
  height: 60px;
  left: -15px;
  bottom: 0px;
}
.present-block__images img:nth-child(2) {
  height: 60px;
  margin-left: -10px;
  margin-bottom: 7px;
  z-index: 1;
}
.present-block__text {
  position: absolute;
  background: #45cafa;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  width: 93px;
  padding: 5px 2px;
  z-index: 20;
  bottom: -19px;
  left: -28px;
}
.hidden-window__item__best {
  position: absolute;
  top: 0px;
  left: 170px;
  background: #e59231;
  width: 85px;
  padding-top: 8px;
  padding-bottom: 15px;
}
.hidden-window__item__best:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 15px solid #ffffff;
}
.hidden-window__item__best p {
  margin: 10px 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-top: 2px;
}
.hidden-window__item-sale span {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: middle;
}
.inner-block__description-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}
.inner-block__description-tagline {
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 5px;
}
.inner-block__description-result {
  position: relative;
  display: table;
  vertical-align: middle;
  background: url(../imagesSec/arr-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 19px;
  line-height: 22px;
  padding: 10px 15px 10px 20px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-left: 28px;
  margin-left: -28px;
  height: 50px;
  width: 96%;
}
.description-result-wrap {
  display: table-cell;
  vertical-align: middle;
}
.inner-block__description-result:before {
  /*content: "";*/
  position: absolute;
  display: block;
  left: -15px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-right: 15px solid #44cafb;
  border-bottom: 32px solid transparent;
}
.inner-block__description-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 15px;
}
.hidden-window__item-balance span {
  font-size: 60px;
  color: #7cd989;
  font-weight: 700;
}
.hidden-window__item-balance {
  font-size: 18px;
  line-height: 45px;
  font-weight: 700;
}
.inner-block .present {
  background: #ffa81e;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  width: 93px;
  padding: 5px 7px;
}
.inner-block__description-price {
  position: relative;
  font-size: 0;
  text-align: left;
  padding: 15px 0;
  border-top: 1px dashed #b3b3b3;
  border-bottom: 1px dashed #b3b3b3;
}
.inner-block__description-price--new {
  font-size: 24px;
  line-height: 25px;
  color: #b49874;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 15px;
}
.inner-block__description-price--new span {
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  color: #e59231;
}
.inner-block__description-price--new span.price-text {
  color: #000000;
  font-weight: 400;
  font-size: 24px;
}
.inner-block__description-price--old {
  font-size: 18px;
  line-height: 18px;
  color: #a3a3a3;
  font-weight: 700;
  display: inline-block;
  vertical-align: bottom;
}
/*RIGHT SIDE*/

.second-page__form {
  position: relative;
  background: #0656a0;
  padding: 20px;
  padding-top: 30px;
  z-index: 10;
}
.second-page__form .custom-field,
.second-page__form .inp {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-left: 15px;
  
  font-size: 15px;
  color: #899099;
  
  border: 1px solid #83aa1c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  outline: none !important;
}
.second-page__main input[name="postal_code"],
.second-page__main input[name="street"] {
  margin-right: 10px;
}
.second-page__main input[name="postal_code"] {
  width: 85px;
  margin-right: 10px;
}
.second-page__main input[name="street"],
.second-page__main input[name="city"] {
  width: 180px;
}
.second-page__main input[name="house"] {
  /*   width: 130px; */
  width: 85px;
}
.second-page__main input[name="floor"],
.second-page__main input[name="housing"],
.second-page__main input[name="apartment"] {
  width: 130px;
}
.second-page__main input[name="floor"] {
  margin-right: 15px
}
.second-page__form .textarea-field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  min-height: 120px;
  padding-top: 15px;
  padding-left: 15px;
  
  font-size: 15px;
  
  border: 1px solid #83aa1c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*margin-bottom: 10px;*/
}
.change-select {
  /*for WebKit*/
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
  background: #ffffff url(../imagesSec/sel.png) no-repeat 95%;
}
.second-page__main-right h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}
.second-page__main-right .second-title {
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
}
.slider-list li {
  margin-bottom: 20px;
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.hidden-window .bx-viewport {
  overflow: visible !important;
}
.slider-list li:last-child {
  margin-bottom: 0;
}
.second-page__form--pay-delivery {
  background: #074177;
  /*border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*-webkit-border-radius: 5px;*/
  padding: 20px 10px;
  margin-top: 12px;
  display: block;
  margin: auto;
  width: 275px;
}
.second-page__main .delivery-price {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.second-page__main .full-price {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.second-page__main .full-price span {
  color: #e59231;
  font-size: 27px;
  font-weight: 700;
}
.second-page__form-button {
  background: #d8ffdc;
  color: #000000;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  width: 255px;
  padding: 15px 0;
  /*border: 2px solid #fff;*/
  cursor: pointer;
  transition: 0.5s;
  outline: none !important;
  border: none;
  font-weight: bold;
}
.second-page__form-button:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.transition-text {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  font-style: italic;
  font-weight: 700;
  margin: 20px 0;
}
.transition-text:before,
.transition-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 72px;
  background: #686868;
  height: 2px;
  top: 12px;
}
.transition-text:before {
  left: 45px;
}
.transition-text:after {
  right: 45px;
}
.pay-link {
  display: block;
  background: #ff6b20;
  
  border: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 255px;
  padding: 20px 0px;
  transition: 0.5s;
  margin: auto;
  box-shadow: 0 2px 12px 5px rgba(000, 000, 000, 0.2);
}
.second-page__form--free-delivery {
  background: #3c3c3c;
  /*border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*-webkit-border-radius: 10px;*/
  padding: 20px 10px;
  width: 275px;
  display: block;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
.pay-link:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.second-page__main .tape-text {
  position: relative;
  /*background: #fff;*/
  background-size: 100% 100%;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding: 6px 0;
  width: 260px;
  display: block;
  margin: 20px auto;
}
.second-page__main .tape-text:before {
  /*content: "";*/
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  left: -15px;
  top: 0;
  border-top: 16px solid transparent;
  border-right: 16px solid #ffffff;
  border-bottom: 16px solid transparent;
}
.second-page__main .tape-text:after {
  /*content: "";*/
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -15px;
  top: 0;
  border-top: 16px solid transparent;
  border-right: 16px solid #ffffff;
  border-bottom: 16px solid transparent;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.tape-text span {
  color: #fe5600;
}
.cards-list {
  font-size: 0;
  text-align: center;
}
.cards-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.cards-list li:last-child {
  margin-right: 0;
}
.h-w-guarantee {
  border: 1px solid #0656a0;
  margin-top: 40px;
}
.h-w-guarantee h3 {
  background: #0656a0;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  /*border-radius: 10px 10px 0 0;*/
  /*-moz-border-radius: 10px 10px 0 0;*/
  /*-webkit-border-radius: 10px 10px 0 0;*/
  padding: 30px 0;
}
.guarantee-list {
  text-align: left;
  /*border: 1px solid #8eb81e;*/
  background: #ffffff;
  /*border-radius: 0 0 10px 10px;*/
  /*-moz-border-radius: 0 0 10px 10px;*/
  /*-webkit-border-radius: 0 0 10px 10px;*/
  padding: 25px 20px;
}
.guarantee-list li {
  position: relative;
  font-size: 15px;
  line-height: 18px;
  padding-left: 30px;
  margin-bottom: 25px;
}
.guarantee-list li:before {
  content: "";
  position: absolute;
  display: block;
  background: url(../imagesSec/garan_check.png) no-repeat center;
  left: 0;
  top: -2px;
  width: 24px;
  height: 27px;
}
.guarantee-list li:last-child {
  margin-bottom: 0;
}
.guarantee-list li b {
  font-size: 18px;
}
.second-page__main-left--bottom-text {
  font-size: 22px;
  line-height: 28px;
  color: #595959;
  text-align: center;
  max-width: 690px;
  display: block;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 25px;
}
.second-page__main-left--bottom-text span {
  text-transform: uppercase;
  display: block;
}
.stamp-list__bottom {
  font-size: 0;
  text-align: center;
  padding-top: 25px;
  border-top: 1px solid #595959;
  padding-bottom: 80px;
}
.stamp-list__bottom img {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
.stamp-list__bottom img:last-child {
  margin-right: 0;
}
.mobile-confirmation,
.second-page__form--mobile-pay {
  display: none;
}
.hidden-window__item-img {
  position: relative;
  width: 230px;
  height: 215px;
  margin: 0 auto;
}
.hidden-window .bx-bx > li[data-value="7"] .hidden-window__item-img .h-w-item-prod {
  margin-top: 20px;
}
.bx-bx > li[data-value] .h-w-item-prod:before {
  width: 90px;
  height: 180px;
  margin: -90px 0 0 -45px;
}
.hidden-window .bx-bx > li[data-value] .h-w-item-prod:before,
.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value] .h-w-item-img > span:before,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod > span,
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod > span,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-img > span:after,
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-img > span:after {
  width: 120px;
  height: 165px;
  margin: -90px 0 0 -80px;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url(../imagesSec/prod.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: 3;
}
.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:after {
  left: 0;
  width: 120px;
  height: 120px;
  margin: -70px 0 0 10px;
  z-index: 2;
}
.hidden-window .bx-bx > li[data-value]:not([data-value="1"]) .h-w-item-prod:before {
  width: 150px;
  height: 150px;
}
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:before {
  left: 0;
  margin: -85px 0 0 -15px;
  width: 150px;
  height: 150px;
}
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod:before {
  height: 140px;
  margin: -90px 0 0 -83px;
}
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:after {
  left: 45%;
  margin: -85px 0 0 -55px;
  width: 150px;
  height: 150px;
}
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod span {
  margin: -90px 0 0 -125px;
  height: 135px;
  z-index: 1
}
.hidden-window .bx-bx > li[data-value="7"] .hidden-window__item-img span:nth-child(2) {
  margin: -90px 0 0 -38px;
  height: 135px;
}
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod:after {
  margin: -95px 0 0 -100px;
  height: 150px;
}
.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:before {
  height: 140px !important;
  margin: -60px 0 0 -90px;
}
.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:after {
  height: 155px;
  margin: -70px 0 0 10px;
  z-index: 100;
}
.hidden-window .bx-bx > li[data-value="1"] .h-w-item-prod:before {
  background-image: url(../imagesSec/prod-pack.png);
  margin: -100px 0 0 -75px;
  width: 145px;
  height: 200px;
}
.hidden-window .mobile-balance {
  display: none;
}
.hidden-window .mobile-balance span {
  font-size: 36px;
  color: #fe5600;
  font-weight: 700;
}
@media screen and (max-width: 1023px) {
  .hidden-window .bx-bx > li .h-w-item-prod span,
  .hidden-window .bx-bx > li .h-w-item-prod:before,
  .hidden-window .bx-bx > li .h-w-item-prod:after {
    height: 100px !important;
  }
  .present-block {
    top: 75px !important;
  }
  .inner-block__description-result {
    margin-left: 0px;
  }
  .top_unit {
    opacity: 0.6;
  }
  .second-page__header .stamp-list {
    display: none;
  }
  .hidden-window .h-w-vis-mob,
  .hidden-window .h-w-main .h-w-contant {
    display: block;
  }
  .second-page__main-right {
    width: 100%;
  }
  .second-page__main-left {
    width: 100%;
    margin-right: 0;
  }
  .second-page__main-right--leaves {
    display: none;
  }
  .second-page__wrapper:before {
    left: 75px;
    background-size: 100px;
    top: 60px;
    width: 115px;
    height: 75px;
  }
  .hidden-window__item {
    width: 100%;
  }
  .inner-block__description {
    width: 100%;
    padding: 0 10px;
    z-index: 2;
    position: relative;
    padding-bottom: 20px;
  }
  .inner-block-wrapper .h-w-check {
    display: none !important;
  }
  .inner-block__description-price:after {
    display: none;
  }
  .inner-block__description-price:before {
    display: none;
  }
  .second-page__header-inner {
    padding-right: 20px;
    background-size: cover;
    background-position-x: -52px;
    
  }
  .second-page__header .logo {
    width: 100%;
    font-size: 34px;
    line-height: 40px;
  }
  .second-page__header .logo:before {
    left: -18px;
    right: 0;
    top: -18px;
  }
  .second-page__header .second-page__container:after {
    background-size: 135px;
    left: -32px;
    top: -68px;
  }
  .second-page__header {
    max-width: 320px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
  .inner-block__description-title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 31px;
  }
  .inner-block__description-tagline {
    width: 155px;
    text-align: left;
    display: inline-block;
  }
  .inner-block__description-result {
    font-size: 16px;
    line-height: 1;
    padding: 10px;
    padding-left: 20px;
    width: 135px;
    text-align: left;
    height: 56px;
    margin-left: auto;
  }
  .description-result-wrap {
    padding-left: 5px;
  }
  .inner-block__description-result:before {
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
  }
  .hidden-window__item {
    position: absolute;
    z-index: 1;
  }
  .hidden-window__item__product-wrapper img.one_package:nth-child(1) {
    position: absolute;
    height: 135px;
    left: 15px;
    top: 0px;
    margin-left: 0;
  }
  .hidden-window__item-balance {
    position: absolute;
    bottom: -289px;
    left: 15px;
    display: none;
  }
  .hidden-window .bx-bx > li[data-value="1"] .hidden-window__item-balance {
    bottom: -325px;
  }
  .hidden-window .bx-bx > li[data-value="5"] .hidden-window__item-balance {
    bottom: -375px;
  }
  .hidden-window .bx-bx > li[data-value="7"] .hidden-window__item-balance {
    bottom: -355px;
  }
  .hidden-window__item-balance span {
    font-size: 36px;
    line-height: 36px;
  }
  .inner-block__description-text {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  .second-page__main-left .inner-block {
    padding-bottom: 0px;
  }
  .inner-block__description-price {
    float: right;
  }
  .second-page__container {
    max-width: 320px;
  }
  .mobile-confirmation {
    display: block;
    margin-bottom: -40px;
    margin-top: 10px;
  }
  .mobile-confirmation__button {
    display: block;
    background: #ebebeb;
    color: #959595;
    padding: 10px;
    /*border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    width: 240px;
    display: block;
    margin: auto;
    position: relative;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding-left: 15px;
    font-weight: 700;
    border: none;
  }
  .inner-block-wrapper,
  .second-page__main-left .inner-block {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  .second-page__main-left .inner-block {
    position: relative;
    padding-top: 25px;
  }
  .inner-block__description-price--new span.price-text {
    display: none;
  }
  .hidden-window__item-sale {
    top: -15px;
    left: -5px;
    padding-right: 10px;
    width: 140px;
  }
  .hidden-window__item__best {
    top: -65px;
  }
  .second-page__form {
    margin-top: 35px;
    padding: 0;
    padding-top: 15px;
  }
  .second-page__form--pay-delivery,
  .transition-text,
  .second-page__form--free-delivery {
    display: none;
  }
  .second-page__form--mobile-pay {
    display: block;
    font-size: 0;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #074177;
  }
  .second-page__form--mobile-pay__wrap {
    font-size: 0;
    text-align: center;
    padding: 0 15px;
  }
  .second-page__form--mobile-pay h3 {
    font-size: 22px;
    line-height: 28px;
    text-transform: inherit;
    margin-bottom: 10px;
  }
  .second-page__form--mobile-pay .pay-delivery,
  .second-page__form--mobile-pay .free-delivery {
    display: inline-block;
    vertical-align: top;
  }
  .mobile-pay__button {
    margin: auto;
    display: block;
    background: #d8ffdc;
    text-align: center;
    color: #000000;
    font-size: 18px;
    border: none;
    padding: 15px 10px;
    font-weight: 700;
  }
  .delivery-price span {
    display: block;
  }
  .second-page__main .delivery-price {
    font-size: 16px;
  }
  .mobile-pay__link {
    display: block;
    margin: auto;
    width: 130px;
    text-decoration: none;
    background: #ff6b20;
    border: none;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 13px 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .second-page__form--mobile-pay p {
    color: #efdabf;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-top: 10px;
  }
  .second-page__main .tape-text__mobile {
    position: relative;
    display: block;
    margin: auto;
    color: #d60832;
    font-size: 16px;
    line-height: 22px;
    width: 120px;
    margin-top: 10px;
    background-size: 100% 100%;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .second-page__main .tape-text__mobile:before,
  .second-page__main .tape-text__mobile:after {
    /*content: "";*/
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 10px solid #290513;
    border-bottom: 15px solid transparent;
    right: 0px;
    top: 0;
  }
  .second-page__main .tape-text__mobile:before {
    left: 0;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .hidden-window .slider-list li:nth-child(3) .hidden-window__item-sale {
    top: -60px;
  }
  .h-w-guarantee h3 {
    padding: 20px 0;
  }
  .guarantee-list li {
    margin-bottom: 15px;
  }
  .guarantee-list li:before {
    top: -2px;
  }
  .guarantee-list {
    padding: 20px 15px;
  }
  .second-page__main-left--bottom-text {
    margin-top: 20px;
    padding-bottom: 15px;
  }
  .stamp-list__bottom img {
    width: 60px;
    margin-right: 15px;
  }
  .stamp-list__bottom {
    padding-bottom: 30px;
  }
  .second-page__main-left--bottom-text span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .second-page__main-left--bottom-text {
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px 10px 10px;
  }
  .slider-list li:nth-child(3) .inner-block-wrapper .hidden-window__item__product-wrapper {
    margin-left: -155px;
  }
  .hidden-window__item__product-wrapper img:nth-child(3) {
    left: 5px;
    height: 100px;
  }
  .present-block__images img {
    max-height: 60px;
    margin-left: 4px;
  }
  .present-block__images img:nth-child(2) {
    height: 45px;
    margin-left: -9px;
    margin-bottom: 0px;
  }
  .slider-list li:nth-child(3) .hidden-window__item-img .present-block {
    left: 60px;
    top: 85px;
  }
  .hidden-window__item__product-wrapper img:nth-child(1) {
    height: 115px;
    position: absolute;
    left: 0;
  }
  .hidden-window__item__product-wrapper img:nth-child(2) {
    height: 100px;
    margin-left: 0px;
  }
  .present-block__text {
    position: absolute;
    background: #ffa81e;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    width: 75px;
    padding: 3px 2px;
    z-index: 20;
    bottom: -20px;
    left: -20px;
  }
  .slider-list li:nth-child(3) .present-block__images img {
    margin-left: 13px;
  }
  .slider-list li:nth-child(3) .present-block__text {
    left: -11px;
    bottom: -20px;
  }
  .slider-list li:nth-child(2) .inner-block-wrapper .hidden-window__item__product-wrapper {
    margin-right: 175px;
    margin-top: 0;
  }
  .slider-list li:nth-child(2) .hidden-window__item-img .present-block {
    right: 190px;
  }
  .slider-list li:nth-child(2) .present-block__images:before {
    left: -25px;
  }
  .hidden-window__item__product-wrapper img:nth-child(4) {
    height: 100px;
    right: 175px;
    z-index: 10;
  }
  .slider-list li:nth-child(4) .inner-block-wrapper .hidden-window__item__product-wrapper {
    margin-left: -165px;
  }
  .slider-list li:nth-child(4) .hidden-window__item__product-wrapper img:nth-child(3) {
    left: 33px;
  }
  .slider-list li:nth-child(4) .hidden-window__item-img .present-block {
    left: 70px;
    top: 110px;
  }
  .present-block__images img:nth-child(3) {
    position: absolute;
    height: 45px;
    left: -10px;
    bottom: 0px;
  }
  .hidden-window__item-img {
    margin-right: 40px;
  }
  .hidden-window .slider-list li:nth-child(3) .inner-block {
    padding-top: 65px;
  }
  .hidden-window .slider-list li:nth-child(3) .inner-block__description-title {
    float: none;
    width: auto;
    text-align: center;
    margin-top: 25px;
  }
  .slider-list li.last-item .present-block__images img:nth-child(3) {
    left: -11px;
    top: 15px;
  }
  .hidden-window .bx-pager {
    display: block;
    text-align: center;
    margin: 30px 0 -10px;
    counter-reset: h-w-bx -1;
  }
  .hidden-window .bx-pager .bx-pager-item {
    display: inline-block;
    margin: 5px;
  }
  .hidden-window .bx-pager .bx-pager-link {
    display: block;
    width: 45px;
    height: 45px;
    background: #000000;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    text-decoration: none;
    border: 2px solid #ff6b20;
    color: #ffffff;
  }
  .hidden-window .bx-pager .bx-pager-link:before {
    content: "1";
    font-size: 17px;
    line-height: 35px;
    color: #ffffff;
    display: block;
    padding: 5px 0;
    font-weight: 700;
    text-align: center;
  }
  .hidden-window .bx-pager .bx-pager-item:nth-child(2) .bx-pager-link:before {
    content: "2+1";
  }
  .hidden-window .bx-pager .bx-pager-item:nth-child(3) .bx-pager-link:before {
    content: "3+2";
  }
  .hidden-window .bx-pager .bx-pager-item:nth-child(4) .bx-pager-link:before {
    content: "4+3";
  }
  .hidden-window .bx-pager .bx-pager-link.active {
    background: #ff6b20;
    color: #ffffff;
  }
  .second-page__header-wrapper:after {
    display: none;
  }
  .slider-list li:nth-child(4) .hidden-window__item__product-wrapper img:nth-child(2) {
    margin-left: 65px;
  }
  /*    .second-page__main-left .bx-bx>li.active .mobile-confirmation {
      background: #7da00a;
      color: #fff;
  }*/
  .second-page__main-left .bx-bx > li.active .mobile-confirmation__text:before {
    content: "";
    position: absolute;
    display: block;
    background:  no-repeat center;
    left: -2px;
    top: -2px;
    width: 23px;
    height: 24px;
  }
  .hidden-window__item-img {
    position: absolute;
    width: 230px;
    height: 215px;
    margin: 0 auto;
    left: -13px;
    top: 55px;
  }
  .hidden-window .bx-bx > li[data-value="3"] .hidden-window__item-img {
    top: 35px;
  }
  .present-block__images:before {
    left: -27px;

    border: 3px solid #ffffff;
    
  }
  .hidden-window .bx-bx > li[data-value="1"] .h-w-item-prod:before {
    margin: -90px 0 0 -100px;
    width: 100px;
    background-size: contain;
  }
  .hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:before {
    height: 115px !important;
    margin: -90px 0 0 -105px;
  }
  .hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:after {
    height: 135px;
    margin: -80px 0 0 -10px;
  }
  .second-page__wrapper:after {
    display: none;
  }
  .hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:after {
    left: 45%;
    margin: -72px 0 0 -80px;
    width: 150px;
    height: 125px;
  }
  .hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod span {
    margin: -65px 0 0 -147px;
    width: 200px;
    height: 140px;
    top: 44%;
  }
  .hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:before {
    width: 150px;
    height: 125px;
    margin: -72px 0 0 -40px;
  }
  .hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod:before {
    width: 120px !important;
    margin: -75px 0 0 -80px !important;
    height: 120px !important;
  }
  .hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod span {
    margin: -75px 0 0 -140px;
    height: 120px;
    z-index: 1;
  }
  .hidden-window .bx-bx > li[data-value="7"] .hidden-window__item-img span:nth-child(2) {
    margin: -75px 0 0 -125px;
    height: 120px;
  }
  .hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod:after {
    margin: -75px 0 0 -105px;
    height: 120px;
  }
  .slider-list li.last-item .hidden-window__item-img .present-block {
    left: 78px;
    top: 105px;
  }
  .slider-list li:nth-child(4) .present-block__images:before {
    left: -16px;
    margin: auto;
    top: -4px;
  }
  .slider-list li:nth-child(3) .hidden-window__item-img .present-block {
    left: 55px;
  }
  .slider-list li:nth-child(4) .present-block__text {
    left: -15px;
    bottom: -19px;
  }
  .slider-list li.last-item .present-block__text {
    top: 60px;
  }
  .hidden-window .bx-bx > li[data-value="3"] .inner-block__description-result,
  .hidden-window .bx-bx > li[data-value="5"] .inner-block__description-result,
  .hidden-window .bx-bx > li[data-value="7"] .inner-block__description-result {
    /*margin-left: 0;*/
  }
  .slider-list li:nth-child(3) .present-block__images:before {
    left: -15px;
    top: 9px;
  }
  .second-page__main-left .bx-bx > li.active .inner-block-wrapper {
    width: auto;
  }
  .hidden-window .mobile-balance {
    display: block;
    font-size: 20px;
    float: left;
    padding-left: 20px;
  }
}
.mobile-confirmation__button.active {
  position: relative;
  background: #d3b389;
  color: #ffffff;
  outline: none;
  padding: 10px 0px;
  padding-left: 20px;
}
.mobile-confirmation__button.active:before {
  
  content: "";
  position: absolute;
  display: block;
  background: url(../imagesSec/check2.png) no-repeat center;
  left: 4px;
  top: 7px;
  width: 23px;
  height: 24px;
}
/* Заменяем этими стилями старые */
.second-page__form .custom-field,
.second-page__form .inp {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-left: 15px;
  
  font-size: 15px;
  color: #899099;
  
  border: 1px solid #83aa1c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  outline: none !important;
}
.second-page__main input[name="postal_code"],
.second-page__main input[name="street"] {
  margin-right: 10px;
}
.second-page__main input[name="postal_code"] {
 width: 93%;
    margin-right: 0;
}
.second-page__main input[name="street"],
.second-page__main input[name="city"] {
  width: 130px;
margin-right: 10px;
    margin-left: 0;
}
.second-page__main input[name="street"] {
  margin-left: 0px;
  margin-right: 0;
}
.second-page__main input[name="house"] {
  /*   width: 130px; */
  width: 135px;
      margin-right: 10px;
}
.second-page__main input[name="floor"],
.second-page__main input[name="housing"],
.second-page__main input[name="apartment"] {
  width: 130px;
}
.second-page__main input[name="floor"] {
  margin-right: 15px
}
.second-page__form .textarea-field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  min-height: 120px;
  padding-top: 15px;
  padding-left: 15px;
  
  font-size: 15px;
  
  border: 1px solid #83aa1c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*margin-bottom: 10px;*/
}